/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );

.container {
  width: 50vw;

  .list-container {
    height: calc(100vh - 190px);
    overflow-x: hidden;
    overflow-y: scroll;
  }
}
